# Maven build output
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE noise (baseline)
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS detritus
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage output
surefire-reports/
failsafe-reports/
jacoco.exec

# Temporary files
*.swp
*~

# Files for us
*.pdf
*.md